<h1>{{tit}}</h1>
<h3>{{des}}</h3>
<a href="/{{tit}}"><img src="/screenshots/{{tit}}.png"/></a>
<!-- in public folder -->
<!-- / is added in the first position because we are using GET -->
<!-- src and href are different. href associated with index.js get. -->
<!-- img in public folder -->

<script>
document.getElementById("{{tit}}").style.backgroundColor = "pink";
</script>
